akonadi/
akregatorrc
bluedevilglobalrc
cool-retro-term/
dconf/
discoverrc
dolphinrc
drkonqirc
enchant/
epiphany/
evolution/
filezilla/
goa-1.0/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
i3/
ibus/
kactivitymanagerd-statsrc
kate/
katemetainfos
kateschemarc 
katerc
katevirc 
kcminputrc
kconf_updaterc 
KDE/
kde.org/
kdeSrc
kdedefaults/
kdeglobals
kdialogrc
kglobalshortcutsrc
khotkeysrc
Kid3
kimagemapeditorrc
kmail2rc
kmixrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
pavucontrol.ini
phishingurlrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
PlasmaDiscoverUpdates
plasmanotifyrc
plasmaparc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
QtProject.conf
session/
sigilrc
spectaclerc
spicetify/
systemsettingsrc
trashrc
Trolltech.conf
update-notifier
user-dirs.dirs
user-dirs.locale
webengineurlinterceptoradblockrc
wireshark/
xdg-desktop-portal-kderc
xsettingsd
config
z-library/
